* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #3868D6;   
    color: #fff; 
    margin-bottom: 48px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-style: italic
}

header div ul {
    display: flex;   
}

header li {
    list-style: none;
}

header li a {
    color: #fff;
    margin-right: 16px; 
    text-decoration: none;
    font-weight: bold;
}

main .sobre {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2%;
    margin-bottom: 32px;
}

main img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

main h2 {
    color:#3868D6;
    border-bottom: 2px solid #3868D6;
    padding-bottom: 12px;
    margin-bottom: 32px;
    font-style: italic;
}

main p {
    font-size: 14px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.75%);
    grid-column-gap: 1%;
    margin-bottom: 48px;
    align-items: center; 
    justify-content: center;
}

.produtos article {    
    display: flex;
    flex-direction: column; 
    gap: 10px;   
}

article div {
    justify-content: center;
    display: flex;
}

article img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

article span {
    font-size: 14px;
}

article button {
    font-size: 14px;
    padding: 8px;
    border: none;
    background: #3868D6;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    header {
        margin-bottom: 12px;
    }

    header h1 {
        max-width: 100px;
    }

    header .links {
        display: block;
    }

    header div ul {
        display: block;   
    }

    header .container {
        justify-content: space-around;
    }

    main .sobre {
        display: block;
    }

    main img {
        max-width: 100%;
        height: 300px;
        object-fit: contain;        
    }

    .produtos {
        display: flex;
        flex-direction: column;    
    }

    article div {
        display: flex;
        justify-content: center;
    }

    article img {
        object-fit: contain;
        height: 200px;
    }

    article button {
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    main .sobre {
        display: block;
    }

    main img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 12px;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}



